<div id="container-outer">  
   <div id="container"  class="container"
                       >

      <header id="app-branding-header">
         <div id="app-branding"></div>
      </header>
      
      <div id="container-content-outer">
         <div id="container-content">
            <div id="container-content-inner">
               <main id="content-main" role="main">
                  <section id="content-view">
                     {{ outlet "content_main" }}
                  </section>
               </main>
            </div>
         </div>
      </div>
   </div>
</div>